*{
	font-family: arial;
}
html, body{
	margin: 0; padding: 0;
}
body{
	position: relative;
}
#separador{
	width: 100%;
	height: 0;
	max-height: 0;
	display: block;
	background-color: rgba(54,48,112,0.3);
	position: absolute;
	top: 50%;
}
.agua{
	position: absolute;
	width: 350px;
	left: 230px;
	top: 150px;
}
.recivo{
	position: absolute;
	width: 100%;
	height: 50%;
	display: block;
}
.recivo.copia{
	top: 50%;
}
.recivo>div{
	height: 475px;
	width: 100%;
	margin: 40px;
	border: 1px solid #363070;
	border-radius: 20px;
}
.recivo>div>.top{
	height: 100px;
	display: block;
	color: #363070;
}
.recivo>div>.top>*{
	float: left;
}
.recivo>div>.top>img{
	height: 100px;
}
.recivo>div>.top>h1{
	padding-left: 80px;
	font-size: 50px;
	margin-top: 20px;
}
.recivo>div>.top>div{
	float: right;
	width: 140px;
	height: 100px;
	margin-right: 20px;
}
.recivo>div>.top>div>span.abono{
	border: 1px solid #363070;
	border-radius: 5px;
}
.recivo>div>.top>div>span{
	display: block;
	padding: 10px;
	font-size: 25px;
}
.recivo>div>.mid{
	width: 100%;
	height: 345px;
	padding: 15px 15px 0 15px;
}
.recivo>div>.mid>div{
	width: 100%;
	height: 315px;
}
.recivo>div>.mid>div>div{
	font-size: 20px;
	height: 35px;
	display: block;
	position: relative;
	margin: 5px 0 0 0;
}
.recivo>div>.mid>div>div:first-child{
	margin: 10px 0 0 0;
}
.recivo>div>.mid>div>div>span{
	position: absolute;
}
.recivo>div>.mid>div>div>span.usuario{
	left: 350px;
}
.recivo>div>.mid>div>div>span.inicio{
	left: 350px;
}
.recivo>div>.mid>div>div>span.acuenta{
	left: 220px;
}
.recivo>div>.mid>div>div>span.saldo{
	left: 500px;
}
.recivo>div>.mid>div>div>span.ciudad{
	left: 210px;
}
.recivo>div>.mid>div>div:last-child{
	margin-top: 40px;
}
.recivo>.user{
	position: absolute;
	right: 70px;
	bottom: 57px;
	font-size: 14px;
}